<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uc.myfirebaseapss">

    <dist:module dist:instant="true" />

    <permission
        android:name="com.uc.myfirebaseapss.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CourseData"></activity>
        <activity android:name=".adapter.CourseAdapter" />
        <activity android:name=".BottomNavigationActivity" />
        <activity android:name=".adapter.StudentAdapter" />
        <activity android:name=".StudentData" />
        <activity android:name=".LecturerDetail" />
        <activity
            android:name=".adapter.LecturerAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".LecturerData" />
        <activity
            android:name=".StudentArea"
            android:label="@string/title_activity_student_area"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginStudent" />
        <activity android:name=".RegisterStudent" />
        <activity android:name=".AddCourse" />
        <activity android:name=".AddLecturer" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>